<h3>Create new article</h3>
<form [formGroup]="articleForm" (ngSubmit)="submit()"> 
  <div class="form-group">
    <label for="articleTitle">Article title</label>
    <input
      type="text"
      class="form-control"
      id="articleTitle"
      placeholder="Enter title"
      formControlName="title"
      required
    />
    {{title?.errors | json}}
  </div>
  <div class="form-group">
    <label for="articleContent">Article content</label>
    <textarea
      class="form-control"
      id="articleContent"
      rows="3"
      placeholder="Enter content"
      formControlName="content"
      required
    ></textarea>
    {{content?.errors | json}}
  </div>
  <div>
  <button class="btn btn-primary mt-2">
    Create article
  </button>
</div>
</form>
  
